@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
}

.header {
  width:100%;
  display:flex;
  background-color: #3C3A39;
  justify-content: space-between;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 24px;
}

.name a {
  color: #fff;
  text-decoration: none;
}

.nav-bar {
  margin: 24px;
}

.main-part {
  display:flex;
  flex-direction: column;
  background: #1C1A19;
  padding-top: 120px;
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: 130px 200px;
  background-position: bottom right;
}

.name-part {
  font-family: 'Crete Round';
  font-style: normal;
  font-size: 50px;
  letter-spacing: 0.37px;
  color: #FF6B00;
  margin: 24px;
}

.job-part {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFF5E1;
  margin-left: 24px;
}

.job-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin:24px;
}

.social-link {
  display: flex;
  margin: 24px;
}

.social-link ul {
  list-style-type: none;
}

.social-link li {
  padding-right: 17px;
  display: inline-block;
}

.work-part {
  display: flex;
  flex-direction: column;
}

.work-1 {
  padding-top: 120px;
  margin: 24px;
}

.work-1 h3 {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #1C1A19;
  padding: 12px;
  border-bottom: 1px solid black;
}
.pic {
  width:100%;
  padding-top: 24px;
}

.work-d {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.work-d h2 {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091E42;
  margin-bottom: 12px;
}

.work-d p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
}

.lists {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.box {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 5px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091E42;
  border: 1px solid #8993A4;
}

.button1 {
  width: 124px;
  height: 48px;
  background-color: #FF6B00;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.button1:hover {
  color: #FF6B00;
  background-color: #FFF5E1;
}

.work-2 {
  display: flex;
  flex-direction: column;
  margin: 24px;
  background-image: url('../img/work-img/work-2.png');
}

.work-2 h2 {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  margin: 16px;
}

.work-2 p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 16px;
}

.list2 {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  grid-gap: 12px;
  margin: 16px;
}

.box2 {
  background: rgba(255, 255, 255, 0.24);
  padding: 12px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.button2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #FF6B00;
  border: none;
  height: 48px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.button2:hover {
  color: #FF6B00;
  background-color: #FFF5E1;
}

.about-part {
  padding-top:120px;
  margin-top: 100px;
  background: #1C1A19;
  background-image: url('../img/background2.svg');
  background-repeat: no-repeat;
  background-position: 100%  28%;
  background-size: 200px 200px;
}

.about {
  margin-left: 24px;
}

.about h1 {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #FF6B00;
  }

.about p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F4F5F7;
}

.button3 {
  width: 161px;
  height: 48px;
  background-color: #FF6B00;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 150px;
  cursor: pointer;
  transition: 0.5s;
}

.button3:hover {
  color: #FF6B00;
  background-color: #FFF5E1;
}

.list3 {
  border-top: 1px solid #fff;
  margin: 24px;
  padding-top: 50px;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box3 {
  font-family: 'InaiMathi';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  padding: 12px;
}

.this-box {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #FFFFFF;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.contact-intro {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin: 24px;
  color: #172B4D;
}

.form-list {
  display: flex;
  margin: 24px;
  flex-direction: column;
  list-style-type: none;
}

#name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  width: 90%;
  border: none;
  margin-top: 24px;
  padding: 12px;
  border-bottom: 1px solid #979493;;
}

#email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  border: none;
  margin-top: 24px;
  padding: 12px;
  width: 90%;
  border-bottom: 1px solid #979493;
}

#message {
  margin-right: 24px;
  padding: 12px;
  margin-top: 24px;
  width: 90%;
  margin-bottom: 12px;
  background: #FBF8F7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3C3A39;
}

#button4 {
  text-align: center;
  padding: 12px;
  width: 131px;
  height: 48px;
  margin-bottom: 120px;
  background: #FF6B00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.5s;
  align-self: center;
}

#button4:hover {
  color: #FF6B00;
  background-color: #FFF5E1;
}

.social-link-b {
  display: flex;
  flex-direction: column;
}

.list4  {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 24px;
  margin-bottom: 24px;
}

hr {
  height: 1px;
  background: #DFE1E6;
  border: none;
}
.list4 li {
  display: inline-block;
  padding: 12px;
}

.hr {
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0D151E;
  border-radius: 10px;
  margin-left: 120px;
}
